*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans',sans-serif;
}
html {
	font-size: 62.5%;
}
.container {
	display: grid;
	grid-template-columns: minmax(6rem,1fr) repeat(8,minmax(min-content,16rem)) minmax(6rem,1fr);
	grid-template-rows: repeat(4,min-content);
	grid-row-gap: 1.6rem;
	background-color: color(tertialy);
}
.header {
	grid-column: 1/-1;
	grid-row:1/2;
	display: grid;
	grid-template-columns: 1fr repeat(7,minmax(min-content,16rem)) 1fr;
	grid-template-rows: repeat(3,min-content);
	grid-gap: 2rem;

	.logo {
		grid-column: 1 / 2;
		grid-row: 1/2;
		padding: 1rem;
		&-img {
			width: 10rem;
			height: 100%;
		}
	}
	.heading {
		grid-column: 4 / 7;
		grid-row: 2/3;
		text-align: center;
		&-text {
			font-family: 'Great Vibes',cursive;
			font-size: getFontSize(xl)*2;
			font-weight: lighter;
			letter-spacing: 0.5rem;
		}	
	}
	.first-nav {
		grid-column: 7 / -1;
		grid-row:1/2;
		@include navigation;
	}
	.second-nav {
		grid-column: 3/8;
		grid-row: 3 / 3;
		@include navigation;
	}
	.dropdown-li {
		position: relative;
		&::after {
			font-family:'Font Awesome 5 Free';
			content: '\f078';
			font-weight: bold;
		}
		&:hover .dropdown {
			visibility: visible;
			opacity: 1;
		}
	}
	.dropdown {
		transition: all .3s;
		position: absolute;
		z-index: 100;
		top: 3rem;
		right: -2.8rem;
		width: 10rem;
		background-color: darken(color(tertialy),5%);
		@include navigation;
		padding: 1rem;
		text-align: center;
		border-radius: 0.2rem;
		visibility: hidden;
		opacity: 0;
		&-item {
			margin: .5rem 0;
		}
		&-link {
			font-weight: 300;
			font-size: getFontSize(xs);
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -1.5rem;
			left: 7.3rem;
			border-right:  15px solid transparent;
			border-left:  15px solid transparent;
			border-bottom:  15px solid darken(color(tertialy),5%);
		}
	}

}
.slideshow {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	position: relative;
	width: 100%;
	height:80vh;
	&-slide {
		position: absolute;
		top: 0;
		left: 0;
		width: inherit;
		height: inherit;
		opacity: 0;
		visibility: hidden;
		animation: anim 20s ease-in-out infinite;
		img {
			width: inherit;
			height: inherit;
			object-fit: cover;
		}
	}

	@include generateAim(5);

	&-content {
		background-color: rgba(color(secondary),.9);
		position: absolute;
		bottom: 6rem;
		left: 6rem;
		padding: 40px 15px;

		h2 {
			font-size: getFontSize(xl);
			color: color(primary);
		}
		p {
			font-size: getFontSize(xs);
		}
	}	
}
.products {
	grid-column: 1 / -1;
	grid-row: 3/4;

	&-heading {
		margin: 5rem 0;

		&-text {
			text-align: center;
			font-size: getFontSize(lg)+2rem;
			font-weight: 300;
			color: color(primary);
		}
	}
	&-wrapper {
		@include flexPosition;
	}
}
.product {
	position: relative;
	&-img {
		width: 100%;
		transition: opacity .5s;
	}
	&:hover &-description {
		opacity: 1;
		visibility: visible;
	}
	&:hover &-img {
		opacity: .5;
	}
	&-description {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: transparentize(color(secondary), 0.4);
		padding: 2rem;
		border: .1rem solid color(primary);
		border-radius: .5rem;
		color: color(primary);
		text-align: center;
		opacity: 0;
		visibility: none;
		transition: all .5s;
		&-heading {
			font-size: getFontSize(xl);
		}
		&-price {
			font-size: getFontSize(lg);
			font-weight: 300;
			margin: 1rem 0;

			span {
				font-weight: 600;
			}
		}
		&-btn {
			font-size: getFontSize(xs);
			text-decoration: none;
			color: color(quaternary);
			display: block;
			padding: .5rem 1rem;
			border: .1rem solid color(quaternary);
			border-color: lighten(color(quaternary),20%);
		}
	}
}
.products-btn {
	@include flexPosition;
	.btn {
		width: 16rem;
		height: 4rem;
		text-decoration: none;
		position: relative;
		@include flexPosition(space-around);
		&:hover .btn-bg{
			width:18rem;
		}
		&:hover .btn-text {
			color: color(secondary);
		}
		&:hover .arrow {
			transform: translateX(1rem);
		}
		&:hover .arrow-line-1{
			width: 2rem;
		}
		&-bg {
			width: 4rem;
			height: 4rem;
			background-color: color(primary);
			border-radius: 5rem;
			position: absolute;
			left: 0;
			transition: width .2s;
		}
		&-text {
			font-size: getFontSize(xs);
			text-transform: uppercase;
			color: color(primary);
			z-index: 20;
		}
		.arrow {
			@include flexPosition;
			transition: transform .2s;
			&-line {
				height: .2rem;
				background-color: color(secondary);
				position: absolute;
				transform-origin: right;
			}
			&-line-1 {
				width: 0rem;
				transform: translateX(-0.7rem);
				transition: width .2s;
			}
			&-line-2 {
				width: 1rem;
				transform: rotate(45deg);
			}
			&-line-3 {
				width: 1rem;
				transform: rotate(-45deg);
			}
		}
	}
}
.footer {
	grid-column: 1 / -1;
	grid-row: 4 / 5;
	@include flexPosition(space-around);
	padding: 5rem 0;
	border-top: .1rem solid color(primary);
}
.footer-nav {
	@include footerList;
}
.contact-list {
	@include footerList;
}
.contact {
	&-heading {
		font-size: getFontSize(xl);
		color: color(primary);
		text-align: center;
	}
	&-paragraph {
		font-size: getFontSize(lg);
		margin: 1rem 0;
		text-align: center;
	}
	.inputs-group {
		display: flex;

		input {
			padding: 1rem;
			font-size: getFontSize(xs);
			margin: 1rem .5rem;
			border: .1rem solid darken(color(primary),10%);
			border-radius: .3rem;
			outline: none;
			transition: border .5s;
			&:focus:not([type="submit"]) {
				border: .1rem solid darken(color(quaternary),30%);
			}
		}
		&-text {
			width: 50%;
		}
		&-email {
			width: 60%;
		}
		&-btn {
			width: 40%;
			color: color(secondary);
			background-color: lighten(color(primary),20%);
			transition: background-color .2s;
			cursor: pointer;
			&:hover {
				background-color:color(primary);
			}
		}
	}
	.social-icons {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		box-sizing: border-box;

		&-item {
			list-style: none;
		}
		&-link {
			text-decoration: none;
			width: 4rem;
			height: 4rem;
			border: .1rem solid color(primary);
			border-radius: 50%;
			@include flexPosition;

			i {
				font-size: getFontSize(md);
			}
		}
	}
}
$socialMediaColors: 1 #3b5998,2 #b31217,3 #dc4e41, 4 #55acee, 5 #517fa4, 6 #0077b5;

@each $color in $socialMediaColors {
	.social-icons-item:nth-child(#{nth($color,1)}) .social-icons-link {
		color: nth($color,2);
		border: .1rem solid nth($color,2);
	}
} 
@keyframes anim {
	0%{
		opacity: 0;
		visibility: hidden;
	}
	2%{
		opacity: 1;
		visibility: visible;
	}
	18%{
		opacity: 1;
		visibility: visible;
	}
	20%{
		opacity: 0;
		visibility: hidden;
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}