.logo {
	font-size:70px;
	color:$color-primary;
	@include centerByFlex;
	width:110px;
	height:110px;
	border:3px solid $color-primary;
	border-radius:50%;
	margin-right:20px;	
}
.main-name {
	font-family:$font-nu;
	font-size:50px;
	color:$color-secondary;
	@include textStyle;
}
.sub-name {
	color:$color-secondary;
	font-family:$font-jo;
	font-size:18px;
	text-align:center;
	@include textStyle;
}
.main-heading {
	font-family:$font-da;
	font-size:100px;
	font-weight:300;
	color:$color-primary;
	margin-bottom:40px;
}
.sub-heading {
	font-family:$font-jo;
	font-size:60px;
	font-weight:300;
	color:$color-secondary;
	margin-bottom:80px;
}