$colors: (
	primary:#333,
	secondary:#ffe,
	tertialy:#f2f0f1,
	quaternary:#f5b149
);

@function color($color-name) {
	@return map-get($colors,$color-name);
}
$fontSizes: (
	xl:3rem,
	lg:2.5rem,
	md:2rem,
	sm:1.8rem,
	xs:1.6rem
);

@function getFontSize($size) {
	@return map-get($fontSizes,$size);
}

@mixin aim($number,$delay) {
	&-slide:nth-child(#{$number}){
		animation-delay: $delay#{s};
	}
}

@mixin generateAim($number){
	@for $i from 1 through $number {
		@include aim($i,$i*4-4);
	}
}
@mixin flexPosition($justCont:center,$alignIte:center){
	display: flex;
	justify-content: $justCont;
	align-items: $alignIte;

}